.App {
  margin: auto;
  max-width: 1400px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation {
  display: flex;
  border-bottom: 1px solid grey;
}

.nav-item {
  max-width: 150px;
  margin: 10px;
}