/*Friend Card*/
.friend-card {
    width     : 350px;
    margin: 25px auto 25px auto;
    display       : flex;
    flex-direction: column;
    border        : 1px solid black;
}

.friend-card:hover {
    border: 2px solid blue;
}

/*Friends List*/
.friends-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/*Form*/
.form-div {
    margin   : auto;
    max-width: 1000px;
}

.form-field {
    margin: 25px;
}